.navbar{
    height: 50px;
    border-bottom: 0.5px solid rgb(231, 228, 228);
    display: flex;
    justify-content: center;
}


.navContaner{
    width: 100%;
    max-width: 1024px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;

   
}



.logo{
    font-weight: bold;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
}


.navButton{
    margin-left: 20px;
    border: none;
    padding: 5px 10px;
    cursor: pointer;    
    color: #003580;
}



